<div class="row">
   <h1 class="cell-12 text-right">
      Administración de Solicitudes de Agua
   </h1>
</div>
<div class="row">
   <div class="cell-12">
      <div class="toolbar">
         <button class="tool-button primary" title="Actualizar" (click)="goToPage(currentPage)"><i class="fas fa-sync"></i></button>
         <button class="tool-button success ml-2" title="Nuevo" (click)="newwatherRequest()"><i class="fas fa-file"></i></button>
         <button class="tool-button warning" title="Editar" (click)="editwatherRequest()"><i class="fas fa-edit"></i></button>
         <button class="tool-button alert ml-2" title="Eliminar" (click)="deletewatherRequest()"><i class="fas fa-trash"></i></button>
         <button class="tool-button dark" title="Exportar CSV" (click)="toCSV()"><i class="fas fa-file-csv"></i></button>
      </div>
   </div>
</div>
<div class="row">
   <div class="cell-12">
      <table class="table row-hover mt-2">
         <thead>
            <tr>
               <th>Seleccionado</th>
               <th>Código de Barras</th>
               <th>Cantidad (mL)</th>
               <th>Activo</th>
            </tr>
         </thead>
         <tbody>
            <tr *ngFor="let wather_request of wather_requests" (click)="selectwatherRequest(wather_request)">
               <td class="text-right"><span *ngIf="wather_requestSelected === wather_request" class="far fa-hand-point-right"></span></td>
               <td>
                  <ngx-barcode6
                     [bc-format]="bctype"
                     [bc-value]="wather_request.code"
                     [bc-display-value]="true"
                  >
                  </ngx-barcode6>
               </td>
               <td>{{wather_request.quantity}}</td>
               <td>
                  <input type="checkbox" data-role="switch" readonly id="activo" name="activo" [(ngModel)]="wather_request.activo">
               </td>
            </tr>
         </tbody>
      </table>
   </div>
</div>
<div class="row">
   <div class="cell-12">
      <div class="toolbar">
         <button type="button" class="button light" *ngIf="currentPage === 1" title="Primera Página" disabled>Primera</button>
         <button type="button" class="button light" *ngIf="currentPage !== 1" title="Primera Página" (click)="goToPage(1)">Primera</button>
         <button type="button" class="button light" *ngIf="currentPage > 1" title="Página Anterior" (click)="goToPage((currentPage * 1) - 1)">{{(currentPage * 1) - 1}}</button>
         <button type="button" class="button primary" title="Página Actual">{{currentPage}}</button>
         <button type="button" class="button light" *ngIf="currentPage < lastPage" title="Página Siguiente" (click)="goToPage((currentPage * 1) + 1)">{{(currentPage * 1) + 1}}</button>
         <button type="button" class="button light" *ngIf="currentPage !== lastPage" title="Última Página" (click)="goToPage(lastPage)">Última</button>
         <button type="button" class="button light" *ngIf="currentPage === lastPage" title="Última Página" disabled>Última</button>
         <button type="button" class="button success ml-2" title="Ir a la Página" (click)="goToPage(goToPageNumber.value)">Ir a</button>
         <input type="number" min="{{1}}" max="{{lastPage}}" placeholder="Ir a la Página" #goToPageNumber>
      </div>
   </div>
</div>
<div class="row" *ngIf="showDialog">
   <div class="cell-12 mt-5">
      <div class="window" data-role="window" data-icon="<span class='mif-pencil'></span>" data-title="Datos:" data-btn-close="false" data-btn-min="false" data-btn-max="false" data-width="800" data-shadow="true" data-place="top-center" data-resizable="false" data-draggable="false">
         <div class="window-content m-2">
            <div class="container">
               <div class="row">
                  <div class="cell-12">
                     <div class="form-group row">
                        <label for="code">Código de Barras</label>
                        <div class="cell-12">
                           <ngx-barcode6 *ngIf="wather_requestSelected.code != ''"
                              [bc-format]="bctype"
                              [bc-value]="wather_requestSelected.code"
                              [bc-display-value]="true"
                           >
                           </ngx-barcode6>
                        </div>
                     </div>
                     <div class="form-group row">
                        <label for="quantity">Cantidad (mL)</label>
                        <input type="number" id="quantity" name="quantity" min="0" max="1000" placeholder="Cantidad (mL)" [(ngModel)]="wather_requestSelected.quantity">
                     </div>
                     <div class="form-group row">
                        <label for="user_id">Usuario</label>
                        <select id="user_id" name="user_id" [(ngModel)]="wather_requestSelected.user_id">
                           <option value="0" selected>Seleccione...</option>
                           <option *ngFor="let user of users" value={{user.id}}>
                              {{user.name}}
                           </option>
                        </select>
                     </div>
                     <div class="form-group row">
                        <label for="activo">Activo</label>
                        <input type="checkbox" readonly data-role="switch" id="activo" name="activo" [(ngModel)]="wather_requestSelected.activo">
                     </div>
                  </div>
               </div>
               <div class="row mt-2">
                  <div class="cell text-center">
                     <button type="button" class="button success" (click)="saveDialogResult()" [disabled]="(wather_requestSelected.quantity > 1000) || (wather_requestSelected.quantity <= 0)">Guardar</button>
                     <button type="button" class="button alert" (click)="cancelDialogResult()">Cancelar</button>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="row mt-5">
   <div class="cell-12">
      <p class="h1">Estadísticas</p>
   </div>
   <div class="cell-6 mt-5">
      <p class="h3">Cantidad De Agua (mL)</p>
       <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType">
       </canvas>
   </div>
   <div class="cell-6 mt-5">
      <p class="h3">Cantidad De Pedidos</p>
       <canvas baseChart [datasets]="barChartData2" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType">
       </canvas>
   </div>
</div>